/* Write your code here. */
.app-container {
  display: flex;
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 107%);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letters-caluculator-container {
  display: flex;

  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .letters-caluculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .letters-calculator-img {
    height: 200px;
    width: 200px;
    order: 0;
  }
}
.calculator-container {
}
.heading {
  font-size: 24px;
  color: white;
  text-align: center;
}
.input-container {
}
.label {
}
.letters-input {
}
.letters-count {
}
.letters-calculator-img {
  height: 200px;
  width: 200px;
  order: 1;
}
